<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Board Game Manager</h1>
            <hr>
            <p>Log plays and keep track of your collection in this awesome record keeping app!</p>
        </div>
        <div class="container text-center">
            <%= form_tag sessions_path do %>
              <div class="field email" id="email">
                <%= text_field_tag :email, params[:email], placeholder: 'email' %>
              </div>
              <div class="field password" id="password">
                <%= password_field_tag :password, '', placeholder: 'password' %>
              </div>
              <div id="login">
                <%= submit_tag "Log In", class: 'btn btn-primary btn-xl' %>
              </div>
            <% end %>
            <div id="signup">
            <%= link_to 'Sign up', new_user_path, class: 'btn btn-primary btn-xl' %>
            </div>
        </div>
    </div>
</header>
