<h1>Edit <%= @game.name%></h1>

<%= form_for @game do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :year %>
        <%= f.text_field :year %>
    </div>

    <div>
        <%= f.label :designer %>
        <%= f.text_field :designer %>
    </div>

    <div>
        <%= f.label :publisher %>
        <%= f.text_field :publisher %>
    </div>

    <div>
        <%= f.label :max_players %>
        <%= f.text_field :max_players %>
    </div>

    <%= f.submit "Submit" %>

<% end %>

<%= link_to "Back", show_game_path %>
