<div class="page-header text-center">
    <h1>Edit <%= @game.name%></h1>
</div>
<div class="container text-center">
    <%= form_for @game, class: "form-horizontal" do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="form-group text-center">
            <%= f.file_field :image, id: "new-image" %>
        </div>
        <div class="form-group">
            <%= f.label :year %>
            <%= f.text_field :year %>
        </div>
        <div class="form-group">
            <%= f.label :designer %>
            <%= f.text_field :designer %>
        </div>
        <div class="form-group">
            <%= f.label :publisher %>
            <%= f.text_field :publisher %>
        </div>
        <div class="form-group">
            <%= f.label :max_players %>
            <%= f.text_field :max_players %>
        </div>
        <%= f.submit "Submit", class: "btn btn-success" %>
        <button class="btn"><%= link_to "Back", game_path(@game) %></button>
        <button class="btn btn-danger"><%= link_to "Delete", game_path, method: :delete, data: { confirm: "Confirm"} %></button>
    <% end %>
</div>
