<div class="container" id="games-index">
  <div class="page-header text-center">
    <h1 id="allgames">All Games</h1><%= link_to "Add New Game", new_game_path, class: "btn btn-m btn-primary pull-right", id: "newgame"%>
  </div>
  <div class="panel panel-footer">
    <div class="container">
      <div class="row">
        <% @games.each do |game| %>
          <div class="col-sm-2">
            <div class="caption center-block">
              <p><%= game.name %></p>
            </div>
            <div class="thumbnail">
              <%= image_tag game.image.url %>
            </div>
            <%= link_to "More Info", game_path(game) %>
            <%= link_to new_play_path(game_id: game.id) do %>
              <i class="glyphicon glyphicon-plus pull-right"></i>
            <% end%>
            <br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
