<div class="page-header text-center">
    <h1>Add a new game</h1>
</div>
<div class="text-center container">
    <%= form_for @game, class: "form-horizontal", html: { multipart: true } do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="form-group pull-center">
        <%= f.file_field :image, id: "new-image" %>
        </div>

        <div class="form-group">
            <%= f.label :year %>
            <%= f.text_field :year %>
        </div>

        <div class="form-group">
            <%= f.label :designer %>
            <%= f.text_field :designer %>
        </div>

        <div class="form-group">
            <%= f.label :publisher %>
            <%= f.text_field :publisher %>
        </div>

        <div class="form-group">
            <%= f.label :max_players %>
            <%= f.text_field :max_players %>
        </div>

        <%= f.submit "Add new game" %>
        <br>
        <%= link_to "Back to the list!", games_path %>
    <% end %>
</div>

