<div class="page-header">
  <h1><%= @game.name %></h1>
</div>

<%= image_tag @game.image.url, class: "img-responsive col-md-3"%>
<p><h2>Year</h2></p>
<p> <%= @game.year %> </p>
<p><h2> Designer</h2> </p>
<p><%= @game.designer %> </p>
<p><h2> Publisher </h2></p>
<p><%= @game.publisher %></p>
<p><h2> Max. Players </h2></p>
<p> <%= @game.max_players %> </p>


<%= link_to "Back", games_path%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "Edit", edit_game_path %>
